body,html{background-image:url(../img/fondoguay.png);height:100%;padding:0px;margin:0px;}
.a{}
.b{}
.c{background-color:#cddc39;position:fixed;top:0px;bottom:0px;left:0px;right:0px;display:none;z-index:1}
.d{}
.marcadores{
	width: auto; height: auto; 
	max-width: 80px;
	background-color: #00d8ff;
	margin: 10px;
	width: 100%;
	border-style: outset;
	border-color: #ffff00;
	font-size: 100%;
	padding: 2px;
	margin-bottom: 15px;
}
#luna{position:fixed;bottom:0;left:0;right:0;margin:0 auto; width:80%;}
#nave{text-align:center;position:fixed;top:10%;width:100%;height:20%}
#nave img{height:100%;}
#cpanel{}
#hidem,#showm{float:right}
img.menu{
  display: none;
}
img.menum{
	width: 25%; height: 25%; float: right;
}
img.menubutton{
	width: 100%; height: 100%; float: right;
}